

html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/welcome.css', rel='stylesheet', type='text/css')
  body
    div.container-fluid.menubar
      div(class='col-xs-4')
        p(style='font-size: 24px; font-weight: bold') VotingApp
      div(class='col-xs-4')
        p JD Lafrance
      div(class='col-xs-4')
        button(class='btn btn-large btn-primary') Sign in with twitter
    
    div.container
      div.welcome Welcome! Please log in to create polls or consult and vote in the polls available below.
      div.contact This web app was created by jd lafrance
      
      div.list-group
      #values
      #display
        each val, index in values
              a(href=display[index], class='list-group-item') #{val}

  
  